---
layout: default
---
Enchantments:&nbsp;
<p>
  {% for item in site.data.enchantments.navigation %}
    <a href="{{ item.link }}">
      {{ item.name | capitalize }}
    </a>
    {% unless item == site.data.enchantments.navigation.last %}&nbsp;-&nbsp;{% endunless %}
  {% endfor %}
</p>

<h1>{{ page.type | capitalize }} Enchantments</h1>

<hr>

{% for item in site.data.enchantments.content %}
  <h2>{{ item.name | capitalize }} - {{ item.type | capitalize }} enchantment</h1>
  <p>
    <b>Cost:</b>&nbsp;
    {{ item.cost | capitalize }} gold
  </p>
  <p>
    <b>Applicable {{ item.type | downcase }} type(s):</b>
    <ul>
      {% for type in item.applicable %}
        <li>{{ type | capitalize }}</li>
      {% endfor %}
    </ul>
  </p>
  <p>
    <b>Description:</b>
    {{ item.description | markdownify }}
  </p>
  {% unless item == site.data.enchantments.content.last %}<hr>{% endunless %}
{% endfor %}
